[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "packages/emacs"]
	path = packages/emacs
	url = git@github.com:emacs-mirror/emacs.git
[submodule "home/spacemacs"]
	path = home/spacemacs.d
	url = git@github.com:syl20bnr/spacemacs.git
[submodule "home/zplug"]
	path = home/zplug
	url = https://github.com/zplug/zplug
