.cache/
.editorconfig

# C
cscope.out
.ccls-cache
.clangd
compile_commands.json
bin/analyze_source
bin/rel-hotfix.bash

# Eclipse
.project

# Netbeans
nbproject

# Emacs
.\#*
*~
*.elc
.emacs.d.old1/

# Node
node_modules/
/package.json
/package-lock.json

# Claude
.claude/
CLAUDE.md

# General
*.log
target/

# Java
.classpath
.metadata
.settings
.factorypath

# Python
*.pyc

# QA
my*.yaml
