.cache/

# C
cscope.out
.ccls-cache
compile_commands.json

# Eclipse
.project

# Netbeans
nbproject

# Emacs
.\#*
*~

# General
*.log
target/

# Java
.classpath
.metadata
.settings
.factorypath

# Python
*.pyc

# QA
my*.yaml
